/* like ,subscribe, search fix only to lowercase*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: radial-gradient(yellow, rgb(192, 128, 0));
  /* backdrop-filter: blur(7rem); */
  background-attachment: fixed;
  color: #000000;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}

/* Optional: Add any other styles you want */
a:hover {
  color: blue; /* Change color on hover */
}

.clickable {
  cursor: pointer;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.895);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 2vw;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar div {
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%;
  max-width: 700px;
  /* padding: 0 1.5em; */
}
input[type="search"] {
  font-size: 1em;
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  height: 3rem;
  width: 100%;
  min-width: 35vw;
}

.menu-button {
  width: 15vw;
  max-width: 3rem;
}

.menu-image {
  max-width: 100%;
}
.logo {
  display: block;
  width: 30vw;
  max-width: 10rem;
  /* max-width: 73px;
  min-width: 50px; */
  margin: -15% 0;
}

.navbar button {
  height: 3rem;
  width: 5vw;
  max-width: 50px;
  border-radius: 0;
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  border: solid 1px rgb(255, 255, 0);
  position: relative;
}

.navbar button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70%;
  height: auto;
}

.navbar .card-dp {
  display: none;
}

.sidebar {
  /* display: none; */
  background-color: rgba(0, 0, 0, 0.895);
  position: fixed;
  height: 100%;
  width: 100vw;
  max-width: 20rem;
  /* display: flex; */
  flex-direction: column;
  align-items: flex-start;
  z-index: -9999;
  left: -150vw;
  transition: transform 0.5s ease; /* Transition for smooth effect */
}

.show-sidebar {
  transform: translateX(150vw);
  opacity: 1;
  display: flex;
  z-index: 9999;
}

.sidebar-close {
  width: 100%;
}
.sidebar h1 {
  margin: 0 1.5rem 1rem 0;
  text-align: right;
}

/* .sidebar-logo-container {
  margin: 1.5rem 0.5rem 0 0.5rem;
} */

.sidebar-logo {
  display: block;
  width: 8rem;
  margin: -15% -10%;
}

.sidebar ul {
  list-style-type: none;
  width: 100%;
  margin: 1rem 0.5rem 0 0;
  padding-inline-start: 0.5rem;
}

.sidebar li a {
  margin: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  color: white;
  font-weight: bold;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
}
button {
  border-radius: 1em;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.video-list {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  margin: 0rem 0.5rem;
  gap: 1rem;
  overflow: auto;
}

.video-card {
  background-color: rgba(255, 255, 255, 0.1);
  padding-bottom: 1rem;
  /* margin: 1rem 1rem 1rem 1rem; */
  /* padding: 8px; */
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  border-radius: 10px;
  box-shadow: inset 0 0 15px 4px rgba(255, 255, 255, 0.7);
  /* border: 1px solid gold; */
  /* box-shadow: 0px 0px 5px gold; */
}

.thumbnailImage {
  /* width: 100% !important; */
  object-fit: cover !important;
  aspect-ratio: 16 / 9 !important;
}
li:hover {
  background: #acafffb2;
}

.thumbnail-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

li .thumbnailImage {
  padding: 0;
  border-radius: 10px;
}

.card-details {
  margin: 0.5rem 0 0 0.5rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-items: flex-end;
}

.card-title {
  color: #000000;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 700;
}

.card-dp {
  height: 4rem !important;
  max-width: 4rem !important;
  object-fit: cover !important;
  margin-left: 1rem !important;
  border: 2px solid white !important;
  border-radius: 50% !important;
}

/* .amplify-image {
  height: 4rem;
  margin-left: 1rem;
  border: 2px solid white;
  border-radius: 50%;
} */
a {
  font-weight: 800;
  text-decoration: none;
  color: rgb(47, 1, 77);
}

.upload-form {
  font-weight: 500;
  display: grid;
  margin: 2rem;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.upload-form button {
  /* display: inline-block; */
  margin: auto;
  text-align: right;
  /* justify-self: flex-end; */
}

.submit-button {
  background-color: rgb(0, 255, 51);
  color: rgb(0, 0, 0);
  font-weight: 700;
  border: 3px solid rgb(0, 0, 0);
  padding: 0.5rem 1rem;
}

.form-group {
  display: grid;
  grid-template-columns: 20vw 40vw 20vw;
  justify-content: space-between;
  align-items: center;
}

.form-group input {
  border-radius: 1vw;
}

.form-group textarea {
  border-radius: 1vw;
}

.form-group input[type="checkbox"] {
  width: 20px; /* Set the width of the checkbox */
  height: 20px; /* Set the height of the checkbox */
  outline: 2px solid rgb(42, 4, 255); /* Add a border with color and width */
  border-radius: 0; /* Add rounded corners to the border */
  background-color: #fff; /* Set the background color of the checkbox */
  vertical-align: middle;
}

.upload-preview {
  display: block !important;
  margin-top: 0.5rem !important;
  width: 10vw !important;
  height: 10vw !important;
}

.links-list {
  overflow-x: scroll;
  max-height: 25vh;
  overflow-y: scroll;
  color: #000000;
}

.debate-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 0.5rem;
  color: #ffffff;
  font-weight: 900;
  justify-content: center;
  align-items: center;
}

.form-subtitle {
  text-align: center;
  color: #000000;
  font-weight: 900;
  margin: 0;
}
@media screen and (min-width: 680px) {
  .logo {
    display: block;
    width: 10rem;
    margin: -15% 0;
  }

  .video-list {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
  }
  .navbar .card-dp {
    display: block;
  }
}

@media screen and (min-width: 1024px) {
  .video-list {
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }
}
