/* like ,subscribe, search fix only to lowercase*/
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: radial-gradient(yellow, rgb(192, 128, 0));
  /* backdrop-filter: blur(7rem); */
  background-attachment: fixed;
  color: #000000;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}

/* Optional: Add any other styles you want */
a:hover {
  color: blue; /* Change color on hover */
}

.clickable {
  cursor: pointer;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.895);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1vw 2vw;
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar div {
  display: flex;
  align-items: center;
}

.search-input {
  width: 100%;
  max-width: 700px;
  /* padding: 0 1.5em; */
}
input[type='search'] {
  font-size: 1em;
  border-top-left-radius: 1.5em;
  border-bottom-left-radius: 1.5em;
  height: 3rem;
  width: 100%;
  min-width: 35vw;
}

.menu-button {
  width: 15vw;
  max-width: 3rem;
  cursor: pointer;
}

.menu-image {
  max-width: 100%;
}
.logo {
  display: block;
  width: 30vw;
  max-width: 10rem;
  /* max-width: 73px;
  min-width: 50px; */
  margin: -15% 0;
}

.navbar button {
  height: 3rem;
  width: 5vw;
  max-width: 50px;
  border-radius: 0;
  border-top-right-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
  border: solid 1px rgb(255, 255, 0);
  position: relative;
  cursor: pointer;
}

.navbar button img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 70%;
  height: auto;
}

.navbar .card-dp {
  display: none;
}

.sidebar {
  color: white;
  /* display: none; */
  background-color: rgba(0, 0, 0, 0.895);
  position: fixed;
  height: 100%;
  width: 100vw;
  max-width: 20rem;
  /* display: flex; */
  flex-direction: column;
  align-items: flex-start;
  z-index: -9999;
  left: -150vw;
  transition: transform 0.6s ease; /* Transition for smooth effect */
}

.show-sidebar {
  transform: translateX(150vw);
  opacity: 1;
  display: flex;
  z-index: 9999;
}

.sidebar-close {
  width: 100%;
}
.sidebar h1 {
  margin: 0 1.5rem 1rem 0;
  text-align: right;
}

/* .sidebar-logo-container {
  margin: 1.5rem 0.5rem 0 0.5rem;
} */

.sidebar-logo {
  display: block;
  width: 8rem;
  margin: -15% -10%;
}

.sidebar ul {
  list-style-type: none;
  width: 100%;
  margin: 1rem 0.5rem 0 0;
  padding-inline-start: 0.5rem;
}

.sidebar li :first-child {
  color: white;
  margin: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 100%;
}

.subbed-channels {
  scrollbar-width: thin;
}

.channel-profile {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: space-between;
  margin: 0 0.5rem 0 0;
}

.title {
  margin-left: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.subtitle {
  margin-left: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

button {
  border-radius: 1em;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.video-list {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  margin: 0rem 0.5rem;
  gap: 1rem;
  overflow: auto;
}

.video-card {
  background-color: rgba(255, 255, 255, 0.1);
  padding-bottom: 1rem;
  border-radius: 10px;
  box-shadow: inset 0 0 15px 4px rgba(255, 255, 255, 0.7);
}

.thumbnailImage {
  width: 100% !important;
  /* height: 100% !important; */
  object-fit: cover !important;
  aspect-ratio: 16 / 9 !important;
}
li:hover {
  background: #acafffb2;
}

li .thumbnailImage {
  padding: 0;
  border-radius: 10px;
}

.card-details {
  margin: 0.5rem 0 0 0.5rem;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-items: flex-end;
}

.card-title {
  color: #000000;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 700;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2; /* Limit to 3 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  /* max-height: 60px; Adjust based on line height */
}

.card-dp {
  height: 4rem !important;
  max-width: 4rem !important;
  object-fit: cover !important;
  margin-left: 1rem !important;
  border: 2px solid white !important;
  border-radius: 50% !important;
}

/* .amplify-image {
  height: 4rem;
  margin-left: 1rem;
  border: 2px solid white;
  border-radius: 50%;
} */
a {
  font-weight: 800;
  text-decoration: none;
  color: rgb(47, 1, 77);
}

.upload-form {
  font-weight: 500;
  display: grid;
  margin: 2rem;
  grid-template-columns: 1fr;
  gap: 1rem;
  justify-content: center;
  align-items: center;
}

.upload-form button {
  /* display: inline-block; */
  margin: auto;
  text-align: right;
  /* justify-self: flex-end; */
}

.submit-button {
  background-color: rgb(0, 255, 51);
  color: rgb(0, 0, 0);
  font-weight: 700;
  border: 3px solid rgb(0, 0, 0);
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.form-group {
  display: grid;
  grid-template-columns: 20vw 40vw 20vw;
  justify-content: space-between;
  align-items: center;
}

.form-group input {
  border-radius: 1vw;
}

.form-group textarea {
  border-radius: 1vw;
}

.form-group input[type='checkbox'] {
  width: 20px; /* Set the width of the checkbox */
  height: 20px; /* Set the height of the checkbox */
  outline: 2px solid rgb(42, 4, 255); /* Add a border with color and width */
  border-radius: 0; /* Add rounded corners to the border */
  background-color: #fff; /* Set the background color of the checkbox */
  vertical-align: middle;
}

.upload-preview {
  display: block !important;
  margin-top: 0.5rem !important;
  width: 10vw !important;
  height: 10vw !important;
}

.links-list {
  overflow-x: scroll;
  max-height: 25vh;
  overflow-y: scroll;
  color: #000000;
}

.debate-container {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 0.5rem;
  color: #ffffff;
  font-weight: 900;
  justify-content: center;
  align-items: center;
}

.form-subtitle {
  text-align: center;
  color: #000000;
  font-weight: 900;
  margin: 0;
}

.youtube-iframe {
  border: 0;
  margin-top: 1rem;
  border-radius: 0.5rem !important;
  /* padding: 0.5rem; */
}

.comment-section {
  /* width: 100%; */
  /* display: flex; */
  margin: 2rem 0.5rem 0.5rem 0.5rem;
}

.comment-section > div {
  display: flex;
  justify-content: space-around;
  margin-bottom: 0.5rem;
}

.comment-input {
  width: 100%;
  border-radius: 1rem;
}

.comment {
  display: flexbox !important;
  /* grid-template-columns: 15vw 70vw !important; */
  justify-content: flex-start !important;
  /* margin-top: 1.5rem; */
  gap: 2vw;
  padding: 0.2rem;
  border: 2px solid rgba(174, 0, 255, 0.192);
  border-radius: 2rem;
  /* justify-content: space-between; */
}

.comment .card-dp {
  width: 15vw;
  max-width: 4rem;
}

.debate-section {
  margin: 0.5rem;
  padding: 0.5rem;
  border: 2px solid rgba(174, 0, 255, 0.192);
  border-radius: 2rem;
}

.debate-card {
  padding: 1rem;
  box-shadow: inset 0 0 15px 4px rgba(255, 255, 255, 0.7);
  border-radius: 2rem;
}

.right-align {
  text-align: right;
}

.side-iframe {
  display: none !important;
}

.video-dp-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.video-dn {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.video-dn div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-dp-section button {
  padding: 0rem 0.5rem;
  cursor: pointer;
}

.video-dp-section strong {
  margin-left: 0.1rem;
}

.like-share {
  /* width: 50vw; */
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  gap: 1vw;
  align-items: center;
}

.like-share div {
  display: flex;
  flex-wrap: nowrap;
}

.subscribe {
  height: 2.5rem;
}

.like {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 2.5rem;
}

.dislike {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  width: 2.5rem;
}

.like img {
  margin-top: 0.5rem;
}

.dislike img {
  margin-top: 0.5rem;
}

.share {
  width: 2.5rem;
  height: 2.5rem;
}

.like-section {
  display: flex;
  align-items: center;
  /* flex-direction: column; */
}

#nprogress {
  pointer-events: none;
}
#nprogress .bar {
  background: yellow;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
}
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px white, 0 0 5px white;
  opacity: 1;
  -webkit-transform: rotate(3deg) translate(0px, -4px);
  -ms-transform: rotate(3deg) translate(0px, -4px);
  transform: rotate(3deg) translate(0px, -4px);
}
#nprogress .spinner {
  display: block;
  position: absolute;
  z-index: 2147483647;
  top: 50vh;
  right: 40vw;
}
#nprogress .spinner-icon {
  width: 20vw;
  height: 20vw;
  box-sizing: border-box;
  border: solid 3vw transparent;
  border-top-color: white;
  border-left-color: white;
  border-radius: 50%;

  -webkit-animation: nprogresss-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}
.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}
.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}
@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 680px) {
  .logo {
    display: block;
    width: 10rem;
    margin: -15% 0;
  }

  .video-list {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }
  .navbar .card-dp {
    display: block;
  }
}

@media screen and (min-width: 1000px) {
  .main-iframe {
    display: none !important;
  }
  .video-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  }

  .video-page {
    display: grid;
    grid-template-columns: 69vw 29vw;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      'video recommended'
      'comments recommended';
  }

  .video-page .video-list {
    display: grid;
    grid-template-columns: 1fr;
  }

  .recommended {
    grid-area: recommended !important;
  }

  .video-main {
    grid-area: video !important;
    margin-top: 0.5rem !important;
  }

  .video-comments {
    grid-area: comments !important;
  }

  .side-iframe {
    display: block !important;
    padding: 0.5rem;
    margin-top: 0rem;
    border-radius: 1rem !important;
  }
}
